.hangman {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  &__word {
    display: flex;
    gap: 10px;
    justify-content: center;
    &__letters {
      height: 50px;
      width: 50px;
      background-color: aliceblue;
      font-size: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 5px;
    }
  }
  &__alphabet {
    display: flex;
    justify-content: center;
    margin: 20px;
    gap: 10px;
    width: 350px;
    flex-wrap: wrap;
    div {
      background-color: bisque;
      width: 60px;
      height: 30px;
      font-size: 20px;
      text-align: center;
      cursor: pointer;
    }
  }
  &__miss {
    display: flex;
    gap: 10px;
    div {
      background-color: aquamarine;
      width: 35px;
      height: 35px;
      font-size: 23px;
      color: white;
      font-weight: bolder;
      text-align: center;
    }
  }
  &__lostWin {
    position: absolute;
    background-color: antiquewhite;
    padding: 70px;
    border-radius: 10px;
    p {
      color: rgb(56, 53, 76);
      span {
        color: red;
      }
    }
  }
  &__buttons {
    display: flex;
    margin: 20px;
    gap: 50px;
  }
}
.bitch {
  display: none;
}
.fuckU {
  display: flex;
}
.cunt {
  background-color: bisque;
}
